---
- name: Deploy Node.js app on EKS node
  hosts: eks_nodes
  become: yes
  vars:
    ecr_registry: "<473550160103.dkr.ecr.eu-north-1.amazonaws.com/simple-js-app>"
    image_repo: "simple-js-app"
    image_tag: "latest"
    container_name: "nodejs-app"
    aws_region: "eu-north-1"

  tasks:
    - name: Install required packages
      yum:
        name:
          - docker
          - python3-pip
        state: present

    - name: Start and enable Docker
      service:
        name: docker
        state: started
        enabled: yes

    - name: Install AWS CLI (if not already)
      pip:
        name: awscli
        state: present

    - name: Log in to AWS ECR
      shell: |
        aws ecr get-login-password --region {{ aws_region }} | docker login --username AWS --password-stdin {{ ecr_registry }}
      args:
        executable: /bin/bash

    - name: Pull Docker image from ECR
      shell: docker pull {{ ecr_registry }}/{{ image_repo }}:{{ image_tag }}
      args:
        executable: /bin/bash

    - name: Stop existing container (if running)
      shell: docker stop {{ container_name }} || true
      ignore_errors: yes

    - name: Remove existing container (if exists)
      shell: docker rm {{ container_name }} || true
      ignore_errors: yes

    - name: Run Node.js container
      shell: >
        docker run -d --name {{ container_name }}
        -p 3000:3000
        {{ ecr_registry }}/{{ image_repo }}:{{ image_tag }}
      args:
        executable: /bin/bash
